@font-face {
  font-family: carolus_fgregular;
  src: url('Fonts\carolus-fg\webfontkit-carolus\carolus-webfont.woff2') format('woff2'),
       url('Fonts\carolus-fg\webfontkit-carolus\carolus-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



body {
    background-color: rgb(41, 41, 41);
  }


.topnav {
    font-size: 20px;
    margin: 10px;
}

h1 {
  font-family: carolus_fgregular;
  color: green;
}



